* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  line-height: 1.6rem;
}

img {
  width: 100%;
  object-fit: cover;
  /* margin-top: 20px; */
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* padding: 20px; */
}

article {
  padding: 20px;
  border: solid orange 2px;
  margin: 10px;
}
